---
import Layout from '~/layouts/Layout.astro';
import GlobalFooter from '../../../shared/GlobalFooter.astro';
import BrandSwitcher from '../../../shared/BrandSwitcher.astro';
import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---
<Layout metadata={metadata}>
  <BrandSwitcher activeBrand="coherence" />
  <main>
    <slot />
  </main>
  <slot name="footer">
    <GlobalFooter />
  </slot>
</Layout>